.selected-works-wrapper {
  /* background-color: var(--clr-bg-300); */
  /* margin-bottom: 2em; */
}

.selected-works-container {
  width: 95%;
  margin: 0 auto;
  padding: 1em 0;
}

.row {
  display: none;
  gap: 3em;
  border-bottom: 1px var(--clr-text-500) solid;
  padding: 1em 1em;
}

.selected-works-heading {
  border-bottom: 1px var(--clr-text-500) solid;
  /* display: inline; */
}

p:hover {
  /* text-decoration: var(--clr-primary-300) wavy underline; */
  /* color: white; */
}

.row:hover {
  background-color: var(--clr-bg-800);
  /* font-weight: 700; */
  /* text-decoration: var(--clr-primary-300) wavy underline; */
}




@media (min-width: 768px) {
  .selected-works-container {
    background-color: var(--clr-bg-400);
    border-radius: 10px;
    padding: 2em 1em;
    animation: slide-down 1200ms ease-out 2000ms forwards;
    opacity: 0%;
  }
  .row {
    display: flex;
  }
}



@keyframes slide-up {
  0% {
    transform: translateY(2vh);
    opacity: 0%;
  }
  100% {
    transform: translateY(0vh);
    opacity: 100%;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-2vh);
    opacity: 0%;
  }
  100% {
    transform: translateY(0vh);
    opacity: 100%;
  }
}