
  <div class="selected-works-wrapper">
    <div class="selected-works-container">
      <h2 class="selected-works-heading">Selected works</h2>
      <div class="row" (mouseover)="showFestify()" (mouseleave)="hide()">
        <p>01.</p>
        <p>a personalised music app for festival fans</p>
      </div>
      <div class="row" (mouseover)="showSpot()" (mouseleave)="hide()">
        <p>02.</p>
        <p>a savvy social networking platform for hungry friends</p>
      </div>
      <div class="row">
        <p>03.</p>
        <p>a hassle-free logistics app for busy parents</p>
      </div>
    </div>
  </div>

