.image-wrapper {
  /* border: 1px green solid; */
  /* background-color: var(--clr-bg-400) */
}

.image-container {
  /* width: 95%; */
  /* margin: 0 auto; */
}

img {
  border-radius: 5px;
}

@media (min-width: 768px) {
  img {
    width: 50%;
    max-width: 500px;
  } 
  .image-wrapper {
    animation: entry 4000ms ease-out 5000ms forwards;
    opacity: 0;
  }
}


@keyframes entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}