.chat-wrapper {
  background-color: var(--clr-bg-400);
  right: 0;
  width: 100%;
}

.chat-container {
  width: 95%;
  margin: 0 auto;
  padding: 2em 0;
}

@media (min-width: 768px) {
  .chat-wrapper {
    text-align: end;
    background-color: inherit;
    position: absolute;
    animation: slide-down 1200ms ease-out 1000ms forwards;
    opacity: 0;
  }
}



@keyframes entry {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


@keyframes slide-up {
  0% {
    transform: translateY(2vh);
    opacity: 0;
  }
  90% {
    opactiy: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-2vh);
    opacity: 0;
  }
  90% {
    opactiy: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}