<div class="chat-wrapper">
  <div class="chat-container">
    <p>Want to chat? send me an <a href= "mailto: jasonwong_3@hotmail.com" (mouseover)="showAvatar(2)" (mouseleave)="showAvatar(1)">email</a><br> or check out my <a href='https://www.linkedin.com/in/jasnwng' target="_blank" (mouseover)="showAvatar(2)" (mouseleave)="showAvatar(1)">LinkedIn</a> and <a href='https://github.com/jasnwng' target="_blank" (mouseover)="showAvatar(2)" (mouseleave)="showAvatar(1)">GitHub</a></p>

  </div>  
</div>
