.chat-wrapper {
  background-color: var(--clr-bg-400);
  right: 0;
  width: 100%;
}

.chat-container {
  width: 95%;
  margin: 0 auto;
  padding: 2em 0;
}

@media (min-width: 768px) {
  .chat-wrapper {
    text-align: end;
    background-color: var(--clr-bg-300);
    position: absolute;
    /* opacity: 0;
    animation: entry 1000ms ease-out forwards; */
  }
}



@keyframes entry {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}