<div class="cursor" #cursor></div>

<div class="container">
  
  <div class=container-left>
    <app-header></app-header>
    <app-bio></app-bio>
    <div class="image-resume-wide">
      <app-image ></app-image>
      <app-resume></app-resume>
    </div>
  </div>

  <div class="container-right">
    <app-work-overview (messageEvent)="receiveMessage($event)"></app-work-overview>
    <app-work-detail [selectedProject]="selectedProject"></app-work-detail>
    <app-chat [ngClass]="selectedProject != 'none' ? 'hide' : ''"></app-chat>
  </div>

  <div class="container-bottom">
    <div class="image-resume-narrow">
      <app-image ></app-image>
      <app-resume></app-resume>
    </div>
  </div>
</div>
