.cursor {
  z-index: 999;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  background-color: var(--clr-primary-300);
  /* background-color: var(--clr-bg-800);
  border: 3px solid var(--clr-text-500);
  opacity: 60%; */
  opacity: 0.8;
  animation: border-change 750ms ease-in-out infinite alternate;
  display: none;
  box-shadow: 7px 7px #888;

}

.container {
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 1em 0; */
  display: flex;
  flex-direction: column;
}

.container-left {
  background-color: var(--clr-bg-500);
  z-index: 1;
}

.container-right {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-bg-300);
}

.container-bottom {
  background-color: var(--clr-bg-400);
}

.image-resume-wide {
  display: none;
  /* padding: 5%; */
  width: 95%;
  margin: 0 auto;
  padding: 2em 0;
}

.image-resume-narrow {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 95%;
  margin: 0 auto;
  padding: 2em 0;
}



@media (min-width: 768px) {

  .cursor {
    display: block;
  }
  
  .image-resume-wide {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .image-resume-narrow {
    display: none;
  }
  
  .container {
    flex-direction: row;
  }
  .container-left {
    width: 50%;
    /* background-color: var(--clr-bg-800); */
    /* animation: color 4000ms ease-out 5000ms forwards; */
    /* animation: slide-down 2000ms ease-out 0ms forwards; */
  }
  
  .container-right {
    width: 50%;
    background-color: var(--clr-bg-300);
    justify-content: space-between;
    padding-bottom: 2em; 
    position: relative;
    /* animation: entry 4000ms ease-out 5000ms forwards; */
    /* animation: slide-down 2000ms ease-out 0ms forwards; */
    /* opacity: 0; */
  }
  
  .hide {
    opacity: 0;
    
  }


  app-chat {
    order: -1;
    z-index: 0;
    width: 100%;
    right: 0;
    position: absolute;
    transition: opacity 100ms;
    /* display:none; */

  }

  app-work-detail {
    order: 0;
    z-index: 1;
    /* display: none; */
  }

  app-work-overview {
    order: 1;
    z-index: 2;
  }
}


@keyframes entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes color {
  100% {
    background-color: var(--clr-bg-500);
  }
}


@keyframes slide-up {
  0% {
    transform: translateY(5vh);
    opacity: 0;
  }
  90% {
    opactiy: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(5vh);
    opacity: 0;
  }
  90% {
    opactiy: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1.0);
    /* transform: rotate(90deg) */
  }
}


@keyframes border-change {
  0%{
     border-radius: 30% 70% 60% 40% / 30% 30% 70% 70%;
     transform: scale(0.9);
  }
  25% {
    border-radius: 55% 45% 71% 29% / 37% 54% 46% 63%;
  }
  50% {
    border-radius: 38% 62% 30% 70% / 70% 28% 72% 30%;
  }
  75% {
    border-radisu: 33% 67% 30% 70% / 63% 78% 22% 37% 
  }
  100% {
    border-radius: 67% 33% 57% 43% / 53% 64% 36% 47%;
     transform: scale(1);
  }

}