.container {
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 1em 0; */
  display: flex;
  flex-direction: column;
}

.container-left {
  background-color: var(--clr-bg-500);
}

.container-right {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-bg-300);
}

.container-bottom {
  background-color: var(--clr-bg-400);
}



.image-resume-wide {
  display: none;
  /* padding: 5%; */
  width: 95%;
  margin: 0 auto;
  padding: 2em 0;
}

.image-resume-narrow {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 95%;
  margin: 0 auto;
  padding: 2em 0;
}



@media (min-width: 768px) {
  
  .image-resume-wide {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .image-resume-narrow {
    display: none;
  }
  
  .container {
    flex-direction: row;
  }
  .container-left {
    width: 50%;
  }
  
  .container-right {
    width: 50%;
    background-color: var(--clr-bg-300);
    justify-content: space-between;
    padding-bottom: 2em; 
    position: relative;
    border: 1px green solid;
  }
  
  .hide {
    opacity: 0;
    
  }

  app-chat {
    order: -1;
    z-index: 0;
    width: 100%;
    right: 0;
    position: absolute;
    transition: opacity 100ms;
    /* display:none; */

  }

  app-work-detail {
    order: 0;
    z-index: 1;
    /* display: none; */
  }

  app-work-overview {
    order: 1;
    z-index: 2;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}


@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}


