.bio-wrapper {
  /* background-color: var(--clr-bg-500) */
}

.bio-container {
  /* border: 1px red solid; */
  width: 95%;
  margin: 0 auto;
  /* height: 90vh;  */
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 10em 0 5em 0;
  justify-content: space-around;
}

.bio-asterisk {
  font-size: 1.1rem;
  text-align: end;
  margin-top: 2em;
}

p {
  font-size: 1.8rem;
}

.p1 {
  animation: slide-down 1200ms ease-out 1000ms forwards;
  opacity: 0%;
}

.p2 {
  animation: slide-down 1200ms ease-out 2000ms forwards;
  opacity: 0%;
}

.asterisk-wide-screen {
  display: none;
}

.asterisk-narrow-screen {
  animation: slide-down 1200ms ease-out 2000ms forwards;
  opacity: 0%;
}

@media (min-width: 768px) {
  .bio-container {
    padding: 0%;
    /* animation: slide-down 2000ms ease-out 000ms forwards; */
    /* opacity: 0%;  */

  }
  
  .asterisk-wide-screen {
    display: block;
    /* animation: entry 4000ms ease-out 5000ms forwards; */
    animation: slide-down 1200ms ease-out 1000ms forwards;
    opacity: 0%;
  }

  .asterisk-narrow-screen {
    display: none;
  }

  p {
    font-size: 2rem;
  }

  

  .p1 {
    /* animation: entry 2500ms ease-out forwards; */
    animation: slide-down 1200ms ease-out 1000ms forwards;
    opacity: 0%;
  }

  .p2 {
    /* animation: entry 2500ms ease-out 2500ms forwards; */
    animation: slide-down 1200ms ease-out 1000ms forwards;
    opacity: 0%;
  }
}


@keyframes entry {
  0% {
    transform: translateY(-20%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}


@keyframes slide-up {
  0% {
    transform: translateY(2vh);
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    transform: translateY(0vh);
    opacity: 100%;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-2vh);
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    transform: translateY(0vh);
    opacity: 100%;
  }
}