<div class="bio-wrapper">
  <div class="bio-container">
    <p class="p1">Don't worry. You don't need to know about my hobbies or favourite book or that one time I volunteered as a chef.</p>
    <p class="p2">However, you <u>should</u> know that i'm a self-motivated full-stack developer - based in London - who is passionate about creating beautiful and engaging digital experiences.<sup>*</sup></p>
    <p class="bio-asterisk asterisk-wide-screen"><sup>*</sup>some of which are over there --></p>
    <p class="bio-asterisk asterisk-narrow-screen"><sup>*</sup>some of which are down there</p>
  </div>
</div>