.work-detail-wrapper {
  background-color: var(--clr-bg-300);
  position: relative;
}

.work-detail-container {
  width: 95%; 
  margin: 1em auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* padding-bottom: 5em; */
  border-bottom: 1px var(--clr-text-500) solid;
}

.work-detail-container:last-child {
  border: none;
}

h2,
p {
  display: inline;
}

img {
  margin: 3em 0;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .animation-container {
    border: none;
    padding-top: 1em;
    display: none;
    position: absolute;
    /* background-color: var(--clr-bg-300); */
  }
  .show {
    display: block;
    animation: slide-in 600ms;
  }

  .hide {
    animation: slide-out 600ms;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(50%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}


@keyframes slide-out {
  0% {
    transform: translateY(0%);
    opacity: 100%;
    display: block;
  }
  100% {
    transform: translateX(50%);
    opacity: 0%;
    display: none;
  }
}
