.work-detail-wrapper {
  /* background-color: var(--clr-bg-300); */
}

.work-detail-container {
  width: 95%; 
  margin: 1em auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* padding-bottom: 5em; */
  border-bottom: 1px var(--clr-text-500) solid;
}

.work-detail-container:last-child {
  border: none;
}

h2,
p {
  display: inline;
}

img {
  margin: 3em 0;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .work-detail-container {
    display: none;
    border: none;
    padding-top: 1em;
  }
}

.show {
  display: block;
}