<div class="work-detail-wrapper">
  <div class="animation-container" [ngClass]="selectedProject == 'festify' ? 'show' : 'hide'">
    <div class="work-detail-container" >
      <h2>Festify | </h2> 
      <p> a web application where users can explore and compile playlists for music festivals across the UK.</p>
      <img src="../../assets/Festify.png" alt="">
    </div>
  </div>
  <div class="animation-container" [ngClass]="selectedProject == 'spot' ? 'show' : 'hide'">
    <div class="work-detail-container">
      <h2>Spot |</h2> 
      <p> a social media app where users can discover and share restaurant recommendations with their friends.</p>
      <img src="../../assets/spot.png" alt="">
    </div>
  </div>
  <div class="animation-container" [ngClass]="selectedProject == 'assist' ? 'show' : 'hide'">
    <div class="work-detail-container">
      <h2>Assist-Route |</h2> 
      <p> an application connecting parents and bus drivers, streamlining the organisation of student transportation to school.</p>
      <img src="../../assets/assist-route.png" alt="">
    </div>
  </div>
</div>