.resume-wrapper {
  /* border: 1px red solid; */
  /* background-color: var(--clr-bg-400); */
}

.resume-container {
  /* width: 95%; */
  /* margin: 0 auto; */
  text-align: end;
  text-wrap: nowrap
  /* padding: 2em 0; */
}


@media (min-width: 768px) {
  .resume-wrapper {
    /* animation: entry 4000ms ease-out 5000ms forwards; */
    animation: slide-down 1200ms ease-out 2000ms forwards;
    opacity: 0;
  }
  
}


@keyframes entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes slide-up {
  0% {
    transform: translateY(2vh);
    opacity: 0;
  }
  90% {
    opactiy: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-2vh);
    opacity: 0;
  }
  90% {
    opactiy: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}